.landing-header-title {
  font-size: 22px;
  font-weight: 700;
  align-items: flex-start;
  padding-left: 20px;
}

.landing-header-title > img{
  height: 100px;
  width: 180px;
}

.landing-header-title > span {
  font-size: 28;
  font-weight: 1000;
  rotate: 4;
  color: blueviolet;
  transform: rotate(-90deg);
}

@media screen and (max-width: 600px) {
  .landing-header-title{
    padding-left: 10px;
  }
}

:root{
  --nav-title-font-size: 18px;
  --nav-title-font-weight: bold;
  --nav-link-font-weight: 600;
}

.header-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-nav ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li{
  list-style: none;
}

.header-nav li a{
  text-decoration: none;
  color: blueviolet;
  font-weight: var(--nav-link-font-weight);
  padding: 0.8rem;
}

/* .header-nav li a:hover, .header-title:hover{
  cor: ol#fff;
} */
