.landing-header-title {
  font-size: larger;
  align-items: flex-start;
}

:root{
  --nav-title-font-size: 3rem;
  --nav-title-font-weight: bold;
  --nav-link-font-weight: 300;
}

.header-nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  padding: 20px;
}

.header-nav ul{
  display: flex;
  margin: 0;
  padding: 0;
}
.header-nav li{
  list-style: none;
}
.header-nav li a{
  text-decoration: none;
  color: blueviolet;
  font-weight: var(--nav-link-font-weight);
  padding: 0.6rem;
}

/* .header-nav li a:hover, .header-title:hover{
  cor: ol#fff;
} */
