.welcome-section{
  height: 500px;
}

.welcome-section > .landing-message > p{
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: table-cell;
  vertical-align: middle;
  user-select: none;
}

.welcome-section > .landing-image > .start-button >button{
  margin: 20px;
  text-align: center;
  align-items: center;
  color: brown;
}

.welcome-section > .landing-image > img{
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  max-height: 500px;
  /* padding: 10px; */
}