.landing-card{

  align-items: center;
  text-align: center;
 
}

.landing-card-details{
  margin: 20px;
  padding: 20px;
  height: 320px;
  box-shadow: 1px 4px 20px rgb(216, 203, 203);
}

.landing-card-details:hover {
  /* box-shadow: 0px 1px 20px blueviolet; */
  cursor: pointer;
}