.navbar {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 55px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background:rgb(34,34,34);
  text-decoration: none;
 

}

.option{
  color: white;
}

.logo {
  padding: 15px 0;
  color: white;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
}
